In [31]:
import pandas as p

query = 'select \
M.id as match_id \
,M.date as match_date \
,L.name as league_name \
,M.stage as match_stage \
,C.name as country_name \
,M.season as Season \
,HT.team_long_name as home_team_long_name \
,HT.team_short_name as home_team_short_name \
,AT.team_long_name as away_team_long_name \
,AT.team_short_name as away_team_short_name \
,M.home_team_goal as home_team_goals \
,M.away_team_goal as away_team_goals \
,M.home_player_1 \
,M.home_player_2 \
,M.home_player_3 \
,M.home_player_4 \
,M.home_player_5 \
,M.home_player_6 \
,M.home_player_7 \
,M.home_player_8 \
,M.home_player_9 \
,M.home_player_10 \
,M.home_player_11 \
,M.away_player_1 \
,M.away_player_2 \
,M.away_player_3 \
,M.away_player_4 \
,M.away_player_5 \
,M.away_player_6 \
,M.away_player_7 \
,M.away_player_8 \
,M.away_player_9 \
,M.away_player_10 \
,M.away_player_11 \
,M.goal \
,M.shoton \
,M.shotoff \
,M.corner \
,M.foulcommit \
,M.card \
,M.cross \
,M.possession \
from Match as M \
join League as L on M.league_id = L.id \
join Country as C on C.id = L.country_id \
join Team as HT on HT.team_api_id = M.home_team_api_id \
join Team as AT on AT.team_api_id = M.away_team_api_id'

print(query)

select M.id as match_id ,M.date as match_date ,L.name as league_name ,M.stage as match_stage ,C.name as country_name ,M.season as Season ,HT.team_long_name as home_team_long_name ,HT.team_short_name as home_team_short_name ,AT.team_long_name as away_team_long_name ,AT.team_short_name as away_team_short_name ,M.home_team_goal as home_team_goals ,M.away_team_goal as away_team_goals ,M.home_player_1 ,M.home_player_2 ,M.home_player_3 ,M.home_player_4 ,M.home_player_5 ,M.home_player_6 ,M.home_player_7 ,M.home_player_8 ,M.home_player_9 ,M.home_player_10 ,M.home_player_11 ,M.away_player_1 ,M.away_player_2 ,M.away_player_3 ,M.away_player_4 ,M.away_player_5 ,M.away_player_6 ,M.away_player_7 ,M.away_player_8 ,M.away_player_9 ,M.away_player_10 ,M.away_player_11 ,M.goal ,M.shoton ,M.shotoff ,M.corner ,M.foulcommit ,M.card ,M.cross ,M.possession from Match as M join League as L on M.league_id = L.id join Country as C on C.id = L.country_id join Team as HT on HT.team_api_id = M.home_team_api_id join Team as AT on AT.team_api_id = M.away_team_api_id

In [34]:
import pandas as pd
import sqlite3

conn = sqlite3.connect("database.sqlite")
df = pd.read_sql_query(query, conn)
df.head(5)

,match_id,match_date,league_name,match_stage,country_name,Season,home_team_long_name,home_team_short_name,away_team_long_name,away_team_short_name,...,away_player_10,away_player_11,goal,shoton,shotoff,corner,foulcommit,card,cross,possession
0,1,2008-08-17 00:00:00,Belgium Jupiler League,1,Belgium,2008/2009,KRC Genk,GEN,Beerschot AC,BAC,...,NaN,NaN,None,None,None,None,None,None,None,None
1,2,2008-08-16 00:00:00,Belgium Jupiler League,1,Belgium,2008/2009,SV Zulte-Waregem,ZUL,Sporting Lokeren,LOK,...,NaN,NaN,None,None,None,None,None,None,None,None
2,3,2008-08-16 00:00:00,Belgium Jupiler League,1,Belgium,2008/2009,KSV Cercle Brugge,CEB,RSC Anderlecht,AND,...,NaN,NaN,None,None,None,None,None,None,None,None
3,4,2008-08-17 00:00:00,Belgium Jupiler League,1,Belgium,2008/2009,KAA Gent,GEN,RAEC Mons,MON,...,NaN,NaN,None,None,None,None,None,None,None,None
4,5,2008-08-16 00:00:00,Belgium Jupiler League,1,Belgium,2008/2009,FCV Dender EH,DEN,Standard de Liège,STL,...,NaN,NaN,None,None,None,None,None,None,None,None

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25979 entries, 0 to 25978
Data columns (total 41 columns):
match_id                25979 non-null int64
match_date              25979 non-null object
league_name             25979 non-null object
match_stage             25979 non-null int64
country_name            25979 non-null object
home_team_long_name     25979 non-null object
home_team_short_name    25979 non-null object
away_team_long_name     25979 non-null object
away_team_short_name    25979 non-null object
home_team_goals         25979 non-null int64
away_team_goals         25979 non-null int64
home_player_1           24755 non-null float64
home_player_2           24664 non-null float64
home_player_3           24698 non-null float64
home_player_4           24656 non-null float64
home_player_5           24663 non-null float64
home_player_6           24654 non-null float64
home_player_7           24752 non-null float64
home_player_8           24670 non-null float64
home_player_9           24706 non-null float64
home_player_10          24543 non-null float64
home_player_11          24424 non-null float64
away_player_1           24745 non-null float64
away_player_2           24701 non-null float64
away_player_3           24686 non-null float64
away_player_4           24658 non-null float64
away_player_5           24644 non-null float64
away_player_6           24666 non-null float64
away_player_7           24744 non-null float64
away_player_8           24638 non-null float64
away_player_9           24651 non-null float64
away_player_10          24538 non-null float64
away_player_11          24425 non-null float64
goal                    14217 non-null object
shoton                  14217 non-null object
shotoff                 14217 non-null object
corner                  14217 non-null object
foulcommit              14217 non-null object
card                    14217 non-null object
cross                   14217 non-null object
possession              14217 non-null object
dtypes: float64(22), int64(4), object(15)
memory usage: 8.1+ MB

In [5]:
#df[df['home_team_goals'] == df['away_team_goals']]['match_stage'].value_counts()
df['match_stage'].value_counts()

5     740
1     740
4     740
6     740
3     740
2     740
10    738
15    738
7     738
8     738
9     738
16    738
18    738
11    738
12    738
13    738
17    738
14    738
20    737
24    737
28    737
19    737
21    737
25    737
22    736
29    736
23    735
30    733
26    730
27    730
34    578
33    578
32    578
31    578
36    407
35    407
37    368
38    367
Name: match_stage, dtype: int64

In [41]:
def get_winning_team(df):
    if df['home_team_goals'] > df['away_team_goals'] :
        return df['home_team_short_name']
    elif df['home_team_goals'] < df['away_team_goals']:
        return df['away_team_short_name']
    else:
        return 'No result'

df['winning_team'] = df.apply(get_winning_team, axis=1)

df_only_win_matches = df.query('winning_team != "No result"')
#df_only_win_matches['winning_team'].value_counts()

In [42]:
df['match_date'] = pd.to_datetime(df['match_date'], infer_datetime_format=True)

In [43]:
df.columns

Index(['match_id', 'match_date', 'league_name', 'match_stage', 'country_name',
       'Season', 'home_team_long_name', 'home_team_short_name',
       'away_team_long_name', 'away_team_short_name', 'home_team_goals',
       'away_team_goals', 'home_player_1', 'home_player_2', 'home_player_3',
       'home_player_4', 'home_player_5', 'home_player_6', 'home_player_7',
       'home_player_8', 'home_player_9', 'home_player_10', 'home_player_11',
       'away_player_1', 'away_player_2', 'away_player_3', 'away_player_4',
       'away_player_5', 'away_player_6', 'away_player_7', 'away_player_8',
       'away_player_9', 'away_player_10', 'away_player_11', 'goal', 'shoton',
       'shotoff', 'corner', 'foulcommit', 'card', 'cross', 'possession',
       'winning_team'],
      dtype='object')

In [122]:
# Q1: Which team improved the most?

#We need to find the wins vs total matches for the 1st season, and the last season and compare the results

#First we need to compute the list of matches

import numpy as np
df.columns

#For computing the list of matches for all the team names

#Get home games
home_games = df.groupby(['Season', 'home_team_short_name']).count()['match_id'].reset_index()
home_games.rename(index=str, columns={"match_id": "home_match_count"}, inplace=True)


#Get away games
away_games = df.groupby(['Season', 'away_team_short_name']).count()['match_id'].reset_index()
away_games.rename(index=str, columns={"match_id": "away_match_count"}, inplace=True)
away_games

all_matches = pd.merge(home_games, away_games,  how='inner', left_on=['Season','home_team_short_name'], right_on = ['Season','away_team_short_name'])
all_matches.rename(index=str, columns={"home_team_short_name": "team_short_name"}, inplace=True)
all_matches.drop('away_team_short_name',axis=1, inplace=True)
all_matches

#testing for a team to make sure it works
sum((df['Season'] == '2015/2016') & ((df['home_team_short_name'] == 'ZWO') | ( df['away_team_short_name'] == 'ZWO')))

all_matches['total_matches'] = all_matches['home_match_count'] + all_matches['away_match_count']
all_matches

#compute winning teams 
interested_column_index = np.r_[np.arange(0,3), 4, 5, 42]
interested_column_index
df_interested_columns = df.iloc[:,interested_column_index]
winning_matches.rename(index=str, columns={'winning_team': 'team_short_name'}, inplace=True)

#Remove the rows with no result
df_interested_columns = df_interested_columns.query('winning_team != "No result"')
winning_matches = df_interested_columns.groupby(['Season', 'winning_team']).count()['match_id'].reset_index()
winning_matches.rename(index=str, columns={'match_id': 'win_match_count'}, inplace=True)
winning_matches

all_data = pd.merge(all_matches, winning_matches, how='inner', left_on=['Season','team_short_name'], right_on=['Season', 'winning_team'])
all_data.drop('winning_team',axis=1, inplace=True)
all_data['win_percentage' ] =  all_data['win_match_count']/all_data['total_matches']
all_data
pivoted_data = all_data.pivot(index='team_short_name', columns='Season', values='win_percentage').reset_index()
pivoted_data.dropna(inplace=True)
pivoted_data.set_index('team_short_name', inplace=True)

pivoted_data.columns = pivoted_data.columns.str.strip().str.lower().str.replace('/', '_')
pivoted_data['overall_win_percentage_change'] = pivoted_data['2015_2016'] - pivoted_data['2008_2009']
pivoted_data = pivoted_data.sort_values(by='overall_win_percentage_change', ascending=False)
pivoted_data.head(1)
#Compute the difference between 1st season ()

Season,2008_2009,2009_2010,2010_2011,2011_2012,2012_2013,2013_2014,2014_2015,2015_2016,overall_win_percentage_change
team_short_name,,,,,,,,,
NAP,0.315789,0.394737,0.552632,0.444444,0.605263,0.605263,0.486486,0.657895,0.342105

In [79]:

#| df['away_team_short_name'] == 'ZWO')

34